* {
    font-family: "URW Gothic L", "Apple Gothic", "Century Gothic";
}

body {
    background-color: #000;
    margin: 0;
    padding: 0;
}

header, footer, .title {
    background-color: #1f2937;
}

.container {
    width: 80%;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.container > header {
    padding: 10px 50px;
}

.container > div {
    flex: 1 0 200px;
}

/* Header Section */

header {
    display: flex;
    justify-content: space-between;
}

.header-logo {
    color: #f9faf8;
    font-size: 24px;
    margin: 0;
    padding: inherit;
}

.header-links {
    display: flex;
    justify-content: flex-end;
}

.header-links a {
    color: #e5e7eb;
    font-size: 18px;
    text-decoration: none;
    padding: 0 15px;
}

.header-links a:hover {
    color: #c0c0c0;
    text-decoration: underline;
}

/* Title Section */

.title {
    display: flex;
    justify-content: space-evenly;
    padding: 40px 50px;
}

.title > div {
    width: 40%;
}

h1 {
    color: #f9faf8;
    font-size: 48px;
    font-weight: 900;
}

.title p {
    color: #c0c0c0;
    font-size: 18px;
}

.sign-up {
    color: #e5e7eb;
    text-decoration: none;
    display: inline-block;
    padding: 10px 40px;
    background-color: #3882f6;
    border-radius: 15px;
    transition-duration: .4s;
}

.sign-up:hover {
    background-color: #e5e7eb;
    color: #3882f6;
}

.image-placeholder {
    background-color: grey;
    color: #c0c0c0;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Information Section */

.information {
    background-color: #f9faf8;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.information > p {
    color: #1f2937;
    font-size: 36px;
    font-weight: 900;
}

.information > div {
    display: flex;
    justify-content: center;
}

.info-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 150px;
    padding: 10px 40px;
}

.info-image {
    height: 150px;
    width: 150px;
    border: 3px double #3882f6;
    border-radius: 20px;
}

/* Quote Section */

.quote-sect {
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px 260px;
}

.quote {
    color: #1f2937;
    font-size: 36px;
    font-style: italic;
}

.quoter {
    align-self: flex-end;
    font-weight: bold;
    font-size: 20px;
    padding-right: 50px;
}

/* Contact Section */

.contact {
    background-color: #f9faf8;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sign-up-background {
    background-color: #3882f6;
    display: flex;
    justify-content: space-around;
    padding: 20px 50px;
    width: 75%;
    border-radius: 25px;
}

.sign-up-background > p {
    color: #f9faf8;
}

.sign-up-background > a {
    height: 20px;
    align-self: center;
}

.cta {
    border: 1px solid #f9faf8;
}

p > span {
    font-weight: bold;
    font-size: 20px;
}

/* Footer Section */

footer {
    color: #f9faf8;
    text-align: center;
}
